@import "tailwindcss";

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf")
    format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf")
    format("woff2");
}

@theme {
  --color-Navy-850: hsl(217, 28%, 15%);
  --color-Navy-900: hsl(218, 28%, 13%);
  --color-Navy-950: hsl(216, 53%, 9%);
  --color-Navy-800: hsl(219, 30%, 18%);
  --color-Teal-200: hsl(176, 68%, 64%);
  --color-Cyan-500: hsl(198, 60%, 50%);
  --color-Red-500: hsl(0, 100%, 63%);
  --color-White: hsl(0, 0%, 100%);

  --color-Dark-850: hsl(210, 6%, 20%);
  --color-Dark-900: hsl(210, 6%, 14%);

  --color-Red-800: hsl(356, 100%, 66%);
  --color-Red-400: hsl(355, 100%, 74%);
  --color-Blue-900: hsl(208, 49%, 24%);

  --color-Orange-800: hsl(15, 100%, 60%);
  --color-Orange-400: hsl(15, 100%, 70%);

  --color-Gray-400: hsl(207, 13%, 60%);
  --color-Gray-200: hsl(207, 13%, 85%);
  --color-Gray-600: hsl(207, 13%, 34%);
  --color-Gray-900: hsl(240, 10%, 16%);

  --font-Raleway: "Raleway";
  --font-Open-Sans: "Open Sans";
}

body {
  @apply font-Open-Sans bg-gray-500 text-White;
}
